*{
margin: 0;
padding: 0;
box-sizing :border-box;
}
html,body{
width :100%;
height :100%;
}
main{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #13749e;

}
.clock{
    height: 500px;
    width: 500px;
    border-radius: 50%;
    border: 10px solid black;
    background: #fefefed7;
    box-shadow: 0 0 10px black;
    position: relative;
}
.numbers{
    height: 100%;
    /* position: absolute; */
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);    
    font-weight: 700;
}
.number{
    height: 88%;
    position: absolute;
}
.one{
    transform: rotate(30deg);
    span{
        transform: rotate(-30deg);
        position: absolute;
    }
}
.two{
    transform: rotate(60deg);
    span{
        transform: rotate(-60deg);
        position: absolute;
    }
}
.three{
    transform: rotate(90deg);
    span{
        transform: rotate(-90deg);
        position: absolute;
    }
}
.four{
    transform: rotate(120deg);
    span{
        transform: rotate(-120deg);
        position: absolute;
    }
}
.five{
    transform: rotate(150deg);
    span{
        transform: rotate(-150deg);
        position: absolute;
    }
}
.six{
    transform: rotate(180deg);
    span{
        transform: rotate(-180deg);
        position: absolute;
    }
}
.seven{
    transform: rotate(210deg);
    span{
        transform: rotate(-210deg);
        position: absolute;
    }
}
.eight{
    transform: rotate(240deg);
    span{
        transform: rotate(-240deg);
        position: absolute;
    }
}
.nine{
    transform: rotate(270deg);
    span{
        transform: rotate(-270deg);
        position: absolute;
    }
}
.ten{
    transform: rotate(300deg);
    span{
        transform: rotate(-300deg);
        position: absolute;
    }
}
.eleven{
    transform: rotate(330deg);
    span{
        transform: rotate(-330deg);
        position: absolute;
    }
}
.twelve{
    transform: rotate(360deg);
}
.hands{
    top: 0;
    height: 500px;
    width: 500px;
    border-radius: 50%;
    /* background-color: rgba(170, 28, 175, 0.715); */
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.seconds{
    position: absolute;
    height: 40%;
    width: 5px;
    background-color: red;
    transform: translateY(-50%);
    border-radius: 5px;
}
.minutes{
    position: absolute;
    border-radius: 5px;
    height: 35%;
    width: 7px;
    background-color: black;
    transform: translateY(-50%);
}
.hours{
    position: absolute;
    border-radius: 5px;
    height: 25%;
    width: 6px;
    background-color: rgb(2, 4, 56);
    transform: translateY(-47%);    
}

