*{
margin: 0;
padding: 0;
box-sizing :border-box;
}
html,body{
width :100%;
height :100%;
}
/* body{
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
#container{
    height: 400px;
    width: 350px;
    overflow: hidden;
}

#container img{
    height: 100%;
    width: 100%;
    object-fit: cover; 
    border-radius: 10px;
}
#container i{
    color: #fff;
    font-size: 75px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    transition: transform ease 0.5s;
} */


body{
    background-color: lightcoral;
    display: flex;
    justify-content: center;
    align-items: center;
}
#container{
    height: 500px;
    width: 450px;
    background-color: white;
}
#container img{
    height: 100%;
    width: 100%;
}